<div>
    <div class="egeo-c-helpbox" data-ng-if="((isFocused || isHelpShown) && (helpText != '')) || (!valid && touched)">
        <div class="egeo-c-helpbox__text">
            <div class="egeo-c-message" data-ng-if="!$parent.valid && $parent.touched" data-ng-class="{'egeo-c-message--error': $parent.required, 'egeo-c-message--warn': !$parent.required}">
                <i class="egeo-c-icon icon-alert" data-ng-if="!$parent.required && $parent.error.pattern"></i>
                <i class="egeo-c-icon icon-circle-cross" data-ng-if="$parent.error.required || ($parent.error.pattern && $parent.required)"></i>
                <span class="egeo-c-message__text" data-ng-if="$parent.error.required">This field is required.</span>
                <span class="egeo-c-message__text" data-ng-if="$parent.error.pattern">This field has wrong format.</span>
            </div>

            <div class="egeo-c-helpbox__label" data-ng-if="helpText">{{helpText}}</div>
        </div>
    </div>
</div>
